---
title: New challenges
text: "Accept new challenges in your neighborhood, hit the road and collect all the badges to complete a challenge."
icon: guarantee.svg
hero: challenges_banner.png
eleventyNavigation:
    key: Challenges
    parent: Features
---
