---
title: Customize
text: "Are you going out with a backpack, safari hat or a jetpack? Compose your ideal hiker yourself and hit the road"
icon: customize.svg
hero: customize_banner.png
eleventyNavigation:
    key: Customize
    parent: Features
---
