---
title: Customize
"tags" : "features"
text: "Ga je graag op pad als een padvinder of liever met een safari hoed en verrekijker? Jij beslist zelf hoe jouw karakter er uit ziet!"
icon: customize.svg
---
