---
title: Customize
text: "Ga je graag op pad als een padvinder of liever met een safari hoed en verrekijker? Jij beslist zelf hoe jouw karakter er uit ziet!"
icon: customize.svg
hero: customize_banner.png
eleventyNavigation:
    key: Customize
    parent: Features
---
