---
layout: base
title: Features
tags: null
eleventyNavigation:
    key: Features
    order: 2
---
<section class="h-layout">
    <h1>features</h1>
</section>

<section class="h-layout cards">
        {% for feature in collections.features %}
            <div class="card">
                <img src="../images/{{ feature.data.icon }}" alt="icon">
                <h2>{{ feature.data.title }}</h2>
                <p>{{ feature.data.text }}</p>
                <a href="{{ feature.url }}" class="primary-button">Learn more</a>
            </div>
        {% endfor %}
</section>

