---
title: Badges met QR code
"tags" : "features"
text: "Ga zelf op zoek naar badges met bijhorende QR code. Scan de codes en win prachtige kortingen in jouw favoriete sportwinkel."
icon: qr-code.svg
---
