---
title: Badge with QR code
text: "Look for all badges in a challenge and scan the QR code. With this code you get a discount in your local sports shop"
icon: qr-code.svg
hero: QR_banner.png
eleventyNavigation:
    key: Qr codes
    parent: Features
---
