---
layout: twocolums
title: Let's talk
eleventyNavigation:
    key: Contact
    order: 5
image: "contact-banner.jpg"
---

<article class="aboutcontact h-layout">
    <div class="aboutcontact__subtitel">
        <h1>{{ title }}</h1>
        <p>Describe your project and leave us your contact
            info, we’ll get back to you within 24 hours.</p>
    </div>

    <div class="aboutcontact__form">
        <h1>We're here for you. Say hi.</h1>

        <form action="">
            <div class="form-item">
              <input type="text" id="name" name="user_name" placeholder="What's your name?">
            </div>
            <div class="form-item">
              <input type="email" id="email" name="user_email" placeholder="What's your e-mail?">
            </div>
            <div class="form-item">
              <textarea id="story" name="story" rows="5" cols="33" placeholder="Your message *"></textarea>
            </div>
            <button class="secundary-button">send!</button>
        </form>
    </div>
</article>
