---
layout: base
title: home
eleventyNavigation:
    key: Home
    order: 1
---

<section class="h-layout hero">
    <div class="hero-image">
        <img src="/images/hero.png" alt="hero-image">
    </div>

    <div class="hero-text">
        <h1>You might like this...</h1>
            <div class="hero-text-p">
                <h2>Word koning van de wandeling</h2>
                <p>Ontdek elke week nieuwe wandelingen in jouw buurt en ga alleen of met vrienden op pad.</p>
            </div>
            
            <div class="hero-text-p">
                <h2>Ga op pad, verzamel badges en win kortingsbonnen</h2>
                <p>Verzamel alle badges en complete de challenge.</p>
            </div>

            <div>
                <h2>Custumize jouw eigen padvinder</h2>
                <p>Maak jouw padvinder uniek!</p>
            </div>
    </div>
</section>

<section class="h-layout cards">
        {% for feature in collections.features %}
            <div class="card">
                <img src="./images/{{ feature.data.icon }}" alt="icon">
                <h2>{{ feature.data.title }}</h2>
                <p>{{ feature.data.text }}</p>
                <button class="primary-button">Learn more</button>
            </div>
        {% endfor %}
</section>

<section class="h-layout">
    <h1 class="left">Testimonials</h1>
    <div class="testimonials">
        {% for quote in quotes %}
        <div class="testimonial">
            <p><span class="sign">''</span>{{ quote.quote }}</p>
            <div class="testimonial_review">
                <img class="user" src="./images/{{ quote.user }}" alt="user">
                <div class="testimonial_review_info">
                    <span class="user-name">{{ quote.author }}</span>
                    <span class="user-date">{{ quote.date }}</span>
                </div>
            </div>
        </div>
        {% endfor %}    
    </div>
</section>

<section class="h-layout customers-section">
    <h1 class="left">Klanten</h1>
    <div class="customers">
        {% for customer in customers %}
            <img class="customer__logo" src="./images/{{ customer.logo }}" alt="icon">
        {% endfor %}
    </div>
</section>

<section class="h-layout">
    <h1 class="left">Blogs</h1>
    <div class="cards cards-blog">
        {% for blog in collections.blogs | coverFilter %}
            <div class="card card-blog">
                <img class="card-blog__image" src="./images/{{ blog.data.image }}" alt="blog image">
                <div class="card-blog__content">
                    <h2>{{ blog.data.title }}</h2>
                    <p>{{ blog.data.text }}</p>
                    <span class="card-blog__content__created">{{ blog.data.created }}</span>
                    <a href="{{ blog.url }}" class="primary-button">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
