---
layout: base
title: home
eleventyNavigation:
    key: Home
    order: 1
---

<section class="h-layout hero">
    <div class="hero-image">
        <img src="./images/hero.png" alt="hero-image">
    </div>

    <div class="hero-text">
        <h1>Dit kan je verwachten:</h1>
            <div class="hero-text-p">
                <h2>Word koning van de wandeling</h2>
                <p>Ontdek elke week nieuwe wandelingen in jouw buurt en ga alleen of met vrienden op pad.</p>
            </div>
            
            <div class="hero-text-p">
                <h2>Ga op pad en verzamel badges en win kortingsbinnen</h2>
                <p>Verzamel alle badges en complete de challenge.</p>
            </div>

            <div>
                <h2>Custumize jouw eigen padvinder</h2>
                <p>Maak jouw padvinder uniek!</p>
            </div>
    </div>
</section>