---
layout: base
title: home
eleventyNavigation:
    key: Home
    order: 1
---

<section class="h-layout hero">
    <div class="hero-image">
        <img src="./images/hero.png" alt="hero-image">
    </div>

    <div class="hero-text">
        <h1>You might like this...</h1>
            <div class="hero-text-p">
                <h2>Word koning van de wandeling</h2>
                <p>Ontdek elke week nieuwe wandelingen in jouw buurt en ga alleen of met vrienden op pad.</p>
            </div>
            
            <div class="hero-text-p">
                <h2>Ga op pad, verzamel badges en win kortingsbonnen</h2>
                <p>Verzamel alle badges en complete de challenge.</p>
            </div>

            <div>
                <h2>Custumize jouw eigen padvinder</h2>
                <p>Maak jouw padvinder uniek!</p>
            </div>
    </div>
</section>

<section class="h-layout cards">
    <div class="card">
        <img src="./images/qr-code.svg" alt="icon">
        <h2>Badges met Qr code</h2>
        <p>Ga zelf op zoek naar badges met bijhorende QR code. Scan de codes en win prachtige kortingen in jouw favoriete sportwinkel.</p>
        <button class="primary-button">Learn more</button>
    </div>

    <div class="card">
        <img src="./images/guarantee.svg" alt="icon">
        <h2>New challenges</h2>
        <p>Verzamel alle badges en complete uitdagende challenges in jouw buurt.</p>
        <button class="primary-button">Learn more</button>
    </div>

    <div class="card">
        <img src="./images/customize.svg" alt="icon">
        <h2>Customize</h2>
        <p>Ga je graag op pad als een padvinder of liever met een safari hoed en verrekijker? Jij beslist zelf hoe jouw karakter er uit ziet!</p>
        <button class="primary-button">Learn more</button>
    </div>
</section>

<section class="h-layout cards">
        {% for feature in collections.features %}
            <div class="card">
                <img src="./images/{{ feature.data.icon }}" alt="icon">
                <h2>{{ feature.data.title }}</h2>
                <p>{{ feature.data.text }}</p>
                <button class="primary-button">Learn more</button>
            </div>
        {% endfor %}
</section>

<section class="h-layout testimonials">
    {% for quote in quotes %}
        <div class="testimonial">
            <span class="sign">''</span>
            <p>{{ quote.quote }}</p>
            <span>{{ quote.date }}</span>
            <span>{{ quote.author }}</span>
        </div>
    {% endfor %}
</section>

