.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: $margin-base;
    margin-bottom: $margin-large;
    padding: $padding-big;
    background: $lightest;
    border-radius: $border-radius-base;
}

.card {
    width: 32%;
    text-align: center;
}

.card > img {
    height: 3rem;
}

/* css for blog section on homepage */

.cards-blog {
    background: $background;
    padding: 0rem;
}

.card-blog {
    position: relative;
    border: 1px solid $background;
    text-align: left;
    height: 35rem;
    background: $lightest;
    transition: all 0.3s ease;
}

.card-blog:hover {
    border: 1px solid $primary-orange;
}

.card-blog__content {
    padding: 0 $padding-base $padding-big $padding-base;
}

.card-blog>img {
    height: 14rem;
    object-fit: cover;
}

.card-blog__content__created {
    font-size: $font-size-small;
    position: absolute;
    border-radius: $border-radius-small;
    background: $primary-orange;
    color: $lightest;
    padding: $padding-small;
    top: 11rem;
    right: $margin-base;
}

.card-blog .primary-button {
    display: block;
}