.customers {
    display: flex;
    justify-content: space-between;
}

.customers > img {
    height: 5rem;
    opacity: 60%;
}

.customers > img:hover {
    height: 5rem;
    opacity: 100%;
}

.customers-section {
    margin-top: $margin-large;
    margin-bottom: $margin-large;
}