.customers-section {
    margin-top: $margin-large;
    margin-bottom: $margin-large;

    .customers {
        display: flex;
        flex-wrap: wrap;

        &__logo {
            /* height: 5rem; */
            flex: 1 1 25%;
            height: 11rem;
            text-align: center;
            img[src$='svg']{
                min-width: 2rem;
                max-width: 6rem;
                filter: brightness(0) invert(0);
            }
        }
    }    
}