// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    margin-top: $margin-bigger;
    text-align: center;
    font-size: 1rem;
}