// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: $background;
}

/* 
Horizontal layout
*/
.h-layout {
    width: 76rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
  }

.h-layout--small {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}

/**
 * Basic styles for links
 */
a {
  color: $primary-purple;
  text-decoration: none;

  @include on-event {
    color: $primary-orange;
    transition: all 0.3s ease;
  }
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

strong {
    font-weight: 900;
}

nav {
    height: 4rem;
}

h1::before {
    display: block;
    content: '';
    width: 8rem;
    height: 2px;
    background: $primary-orange;
    transition: all 0.3s ease;
    margin-bottom: $margin-small;
}