---
layout: base
---

<img class="blog-detail__jumbotron" src="../../images/{{ image }}" alt="blog image">

<section class="blog-detail h-layout--small">
    <h1>{{ title }}</h1>
    <span class="blog-detail__created">{{ created }}</span>

    <p class="blog-detail__intro">{{ intro }}</p>

    <img src="../../images/{{ image }}" alt="blog image">

    {{content | safe}}

    {#     <ul>
            {% for author in allAuthors %}
                <li>
                    {{ author }}
                </li>
            {% endfor %}
        </ul>
    #}

 </section>
