---
layout: base
---

<div class="h-layout">
    <section class="hero-features">
        <div class="hero-features__image">
            <img src="/images/{{ hero }}" alt="hero-image">
        </div>

        <div class="hero-features__text">
            <h1>{{ title }}</h1>
            <p>{{ text }}</p>
        </div>
    </section>
</div>
