---
layout: base
---

<img src="http://picsum.photos/1240/320">

<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>


{{content | safe}}

<ul>
    {% for author in allAuthors %}
        <li>
            {{ author }}
        </li>
    {% endfor %}
</ul>
