{% set navPages = collections.all | eleventyNavigation %}

<footer>
    <div class="footer h-layout">
    
        <section class="footer__logo">
            <img src="/images/logo-hiking.svg" alt="">
            <p>This app is designed by <strong>Tim De Saeger</strong> in the context of user prototyping, a course in graduate programming.</p>
        </section>

        <section class="footer__navigation">
            <h3>Navigation</h3>
            <ul class="navbar_list">
                {% for navItem in navPages %}
                    <li>
                        <a href="{{ navItem.url }}">
                            {% if page.url === navItem.url %}
                                <strong class="active">
                                    {{ navItem.title }} 
                                </strong>
                            {% else %}
                                    {{ navItem.title }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="footer__socials">
            <h3>Follow us</h3>
            <ul>
                <li>
                    <a href="/">Facebook</a>
                </li>
                <li>
                    <a href="/">Instagram</a>
                </li>
                <li>
                    <a href="/">Twitter</a>
                </li>
                <li>
                    <a href="/">YouTube</a>
                </li>
            </ul>
        </section>

        <section class="footer__product">
            <h3>Our product</h3>
            <p>You can check out the hiking app on my website</p> <br>
            <a href="https://desaegertim.myportfolio.com/" target="_blank">https://desaegertim.myportfolio.com</a>
        </section>

        <section class="footer__copyright">
            <p class="center">Copyright {{ helpers.currentYear()}} @ De Saeger Tim</p>
        </section>

    </div>
</footer>